<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
        <main>
            <section class="section">
                <div class="container">
                    <h1>Interests</h1>
                </div>
            </section>
            <h1>Pet store</h1>
            <div class="container">
                <div class="row">
                    <% for(let i = 0; i<products.length; i++){%>
                        <%if(i==0){%>
                             <h4>Foods</h4>
                        <%}else if(i==3){%>
                            <h4>Toys</h4>
                        <%}else if(i==6){%>
                            <h4>Hair care</h4>
                        <%}%>
                        <div class="card" style="width: 25rem;">
                            <img class="card-img-top" src="<%=products[i].imagesource%>" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><%=products[i].title%></h5>
                                <h6 class="class-subtitle"><%=products[i].cost%></h6>
                                <h7 class="class-subtitle"><%=products[i].description%></h7>
                                <p class="card-text"></p>
                                <a href="<%=products[i].url%>" class="btn btn-primary">Purchase</a>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </main>
        <%- include ('../partials/footer') %>