<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
        <main>
            <section class="section">
            </section>
            <div class="container">
                <div class="card">
                    <img src="https://p-cdn6pet.jmsinf.com/tmp/image-thumbnails/pupperoni/category/image-thumb__8663__auto_8bccc844f527071a477b1f0ae0f83e20/pup-products-m.jpg" 
                    alt="Avatar" height="300" width="auto" >
                    <div class="bottom-left">
                        We recommend you checkout some of our favorite pet products for your new furry friend.
                    </div>
                </div>
                <div class="row my-4">
                    <% for(let i = 0; i<products.length; i++){%>
                        <%if(i==0){%>
                            <h2>Food</h2>
                        <%}else if(i==3){%>
                            <h2>Toys</h2>
                        <%}else if(i==6){%>
                            <h2>Hair care</h2>
                        <%}%>
                        <div class="card market" style="width: 25rem;">
                            <img class="card-img-top cardImg" src="<%=products[i].imagesource%>" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><%=products[i].title%></h5>
                                <h6 class="class-subtitle"><%=products[i].cost%></h6>
                                <h7 class="class-subtitle"><%=products[i].description%></h7>
                                <p class="card-text"></p>
                                <a href="<%=products[i].url%>" class="btn btn-primary">Purchase</a>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </main>
        <%- include ('../partials/footer') %>