<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<main>
    <div class="container">
        <h1 style="text-align: center;">Messages</h1>

        <div class="container" style="border: 2px solid rgb(99, 99, 99); border-radius: 5px;">
            <h1>Here</h1>
            <div class="container" style="border: 2px solid rgb(99, 99, 99); border-radius: 5px; width: 98%">
        <% messages.forEach(message => { %>
                <div class="row">
                    <div class="card h-100" style="border-bottom: 1px solid rgb(99, 99, 99); height: 80px;">
                        <div class="flex align-center justify-content-center">
                            <h3><%= message.firstname %> <%= message.lastname %></h3>
                        </div>
                        <div class="card-body">
                            <h5><%= message.subject %></h5>
                        </div>
                    </div>
                </div>
        <% }) %>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>