<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<script>
  function myFunction() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("Dogs for Adoption");
    cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < dogs.length; i++) {
        title = dogs[i].querySelector(".card-body h5.card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
}
</script>

<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-3">
      <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for names..">
    </div>
  </div>

<main>
  <section class="section">
      <div class="container">
          <h1>Interests</h1>
      </div>
  </section>
  <h1>Dogs for Adoption</h1>
  <div class="container">
      <div class="row">
          <% for(let i = 0; i <dogs.length; i++){%>
              <div class="card" style="width: 25rem;">
                  <img class="card-img-top" src="<%=dogs[i].url%>" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title"><%=dogs[i].name%></h5>
                      <h6 class="class-subtitle"><%=dogs[i].weight%></h6>
                      <h7 class="class-subtitle"><%=dogs[i].age%></h7>
                      <h8 class="class-subtitle"><%=dogs[i].breed%></h8>
                      <h9 class="class-subtitle"><%=dogs[i].sex%></h9>

                      <p class="card-text"></p>
                      <a href="https://www.petfinder.com/" class="btn btn-primary">Inquire!</a>
                  </div>
              </div>
          <%}%>
      </div>
  </div>
</main>




<%- include ('../partials/footer') %>